* {
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-image: url("50cefc2122adfae92d31df3c13b83244.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #00000000;
    color: #ffffff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}

nav li::after {
    transition: 0.3s;
    transform-origin: left;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scale(0);
}

nav li:hover::after {
    transform: scale(1);
}

.footer-content {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Centraliza os botões verticalmente */
    gap: 1rem; /* Espaçamento entre os botões */
}

.menu {
    display: flex; /* Garante que os botões fiquem lado a lado */
    gap: 1rem; /* Espaçamento entre os botões */
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center; /* Alinha o texto e o ícone verticalmente */
    gap: 0.5rem; /* Espaçamento entre o ícone e o texto */
}

button:hover {
    background-color: hsl(192, 100%, 50%);
    color: #000000;
    transition: all 0.3s ease-in-out;
}